doctype html 
html 
  head 
    style
        include ./styles/reset_password.css
body
  table
    tbody 
      tr 
        td 
          header
            p(class="header-info") LNU Service Request System
          div(class="info")
            p(class="greeting")="Hi " + form.firstname + ","
            p(class="info-1") We received a request to reset your password.
            p(class="info-2")  you can directly change your password by redirecting to the link below
            a(class="link" href=form.link) Click here
          footer
            small(class="footer-1") LnuSR 2021
  

    

