doctype html 
html 
  head 
    style
        include ./styles/reset_password.css
body
  header
    img(class="app-logo" src="https://i.imgur.com/lTkPes1.png")
    p(class="header-info") LNU Service Request System
  div(class="main")
    p(class="greeting")="Hi " + form.firstname + ","
    p(class="info-1") We received a request to reset your password.
    p(class="info-2")  you can directly change your password by redirecting to the link below
    a(class="link" href=form.link) Click here
  

    

