doctype html 
html 
  head 
    link(rel="stylesheet", href=csslink)
body
  header
    div(class="header-info")
      img(class="university-logo", src=imagelink)
      p(class="header-info-p1") Republic of the Philippines
      p(class="header-info-p2") LEYTE NORMAL UNIVERSITY
  div 
    

