doctype html 
html 
  head 
    link(rel="stylesheet", href=link+"styles/template1.css")
body
  header
    div(class="header-info")
      img(class="university-logo", src=link+"images/logo.png")
      p(class="header-info-p1") Republic of the Philippines
      p(class="header-info-p2") LEYTE NORMAL UNIVERSITY
  div 
  h1=form.subject
  p=form.body
    

