@import "../../_var";
.home-container {
  font-family: $ubuntu-font;
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  padding-left: 40px;
  #spinner-container {
    width: 100vw;
    height: 100vh;
  }
  .home-row1 {
    width: 100%;
    height: 100%;
    .home-col1 {
      width: auto;
      height: 100%;
      .home-container2 {
        .home-row2 {
          .home-container3 {
            @include flex(row, flex-end, center);
            padding: 7px;
            border-bottom: 1px solid #e5e5e5e5;
            button {
              margin: 6px;
            }
          }
        }
      }
    }
  }
}

.slide-right-enter-active,
.slide-right-leave-active {
  transition-duration: 200ms;
  transition-property: height, opacity, transform;
  transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
  overflow: hidden;
}

.slide-right-leave-active {
  opacity: 0;
  transform: translate(2em, 0);
}

.slide-right-enter {
  opacity: 0;
  transform: translate(-2em, 0);
}
