body {
  font-size: 12px;
  margin: 0px;
  padding: 20px;
  border: 2px solid black;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
p {
  text-align: justify;
  text-decoration: underline;
}
.header-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 25px 10px 25px;
}
.header-info-p1 {
  text-align: center;
  text-decoration: none;
  margin: 2px;
}
.header-info-p2 {
  text-align: center;
  text-decoration: none;
  margin: 2px;
}
.header-info-p3 {
  text-align: center;
  text-decoration: none;
  margin: 2px;
  font-size: 12px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  margin-top: 30px;
}
.date {
  text-decoration: underline;
  font-size: 13px;
  text-align: end;
}
.records {
  margin: 0px;
  font-size: 13px;
  text-decoration: none;
  text-align: start;
}
.form {
  margin: 0px;
  margin-top: -2px;
  font-size: 13px;
  text-decoration: none;
  text-align: start;
}
.subject {
  margin-top: 2px;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
}
.checkboxes-container-1 {
  text-align: center;
  width: 100%;
  margin: 10px 0px 30px;
}
.checkbox {
  border: 2px solid black;
  padding: 0px 8px 0px 8px;
  margin-right: 5px;
}
.checked {
  background-color: black;
}

.checkbox-label {
  font-size: 13px;
  margin-right: 20px;
}
.checkbox-label-2 {
  font-size: 13px;
  margin-right: 2px;
}
.info-label {
  font-size: 9px;
}
.mail-recipient {
  margin: 5px 0px 18px;
}
.mail-sender {
  margin: 5px 0px 18px;
}
.recipient {
  margin-left: 5px;
  text-decoration: underline;
}
.sender {
  margin-left: 5px;
  text-decoration: underline;
}
.request-body {
  margin: 5px 0px 18px;
}
.recipients {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  grid-row-start: 1;
}
.dept-head {
  font-size: 11px;
  text-decoration: none;
  width: 40%;
  margin: 0px;
  margin-top: 10px;
  text-align: center;
  padding-bottom: 5px;
  border-bottom: 1px solid black;
}
.dept-head-title {
  font-size: 9px;
  text-decoration: none;
  text-align: center;
  margin: 2px;
  width: 40%;
}
.admin-dept {
  font-size: 11px;
  text-decoration: none;
  width: 40%;
  margin: 0px;
  margin-top: 10px;
  text-align: center;
  padding-bottom: 5px;
  border-bottom: 1px solid black;
}
.admin-dept-title {
  font-size: 9px;
  text-decoration: none;
  text-align: center;
  margin: 2px;
  width: 40%;
}
.user-name {
  font-size: 11px;
  text-decoration: none;
  width: 40%;
  margin: 0px;
  margin-top: 10px;
  text-align: center;
  padding-bottom: 5px;
  border-bottom: 1px solid black;
}
.signature {
  margin: 45px 0px 0px 0px;
}
svg {
  height: 50px;
  width: 40%;
  position: absolute;
  margin: -65px 0px 0px -30px;
}
.footer {
  padding-top: 10px;
  margin-top: 30px;
  border-top: 2px dashed black;
  width: 100%;
}
.post-container {
  margin: 10px 0px 18px;
}
.post-prefix {
  font-weight: bold;
  font-size: 12px;
  margin-right: 10px;
}
.released-container {
  margin-top: 20px;
}
.released {
  margin: 5px 0px 0px 0px;
}
