body {
  padding: 25px;
  font-size: 25px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
header {
  padding: 10px;
  border-bottom: 1px solid #222222;
  display: flex;
  align-self: stretch;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
.app-logo {
  width: 100px;
  height: 95px;
}
.header-info {
  margin-left: 20px;
  font-size: 28px;
  color: #0c0996;
}
.main {
  color: #222222;
}
