body {
  font-size: 12px;
  margin: 0px;
  padding: 20px;
  border: 2px solid black;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
p {
  text-align: justify;
  margin-top: 0px;
  text-decoration: underline;
}
.header-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 25px 10px 25px;
}
.header-info-p1 {
  text-align: center;
  text-decoration: none;
  margin: 2px;
}
.header-info-p2 {
  text-align: center;
  text-decoration: none;
  margin: 2px;
}
.header-info-p3 {
  text-align: center;
  text-decoration: none;
  margin: 2px;
  font-size: 12px;
}
.header-info-p4 {
  text-align: center;
  text-decoration: none;
  margin: -15px 0px;
  padding: 0px;
  font-size: 12px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  margin-top: 35px;
}
.subject {
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}
.container-1 {
  margin: 20px 0px 20px;
  text-align: center;
}
.item-1 {
  margin-right: 45px;
}
.item-2 {
  margin-left: 45px;
  margin-right: 5px;
}
.item-3 {
  text-decoration: underline;
}
.note {
  text-decoration: none;
  margin-bottom: 0px;
}
.container-2 {
  margin-top: 2px;
  margin-bottom: 2px;
}
.c-item-1 {
  font-weight: bold;
  margin-right: 35px;
}
.c-item-2 {
  font-weight: bold;
  margin-left: 35px;
  margin-right: 5px;
}
.data-table {
  border: 1px solid black;
  width: 100%;
  margin: 10px 0px 25px;
  border-collapse: collapse;
}
.tb-row {
  border: 1px solid black;
}
.tb-data {
  text-align: center;
  border: 1px solid black;
}

.total-output {
  font-weight: bold;
  white-space: nowrap;
  font-size: 9px;
  padding: 2px;
}

.request-body {
  margin: 5px 0px 0px;
}

.prefix-body {
  width: 70%;
  margin-left: 5px;
  border-bottom: 1px solid black;
}

.recipients {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  grid-row-start: 1;
}
.dept-head {
  font-size: 11px;
  text-decoration: none;
  width: 40%;
  margin: 0px;
  text-align: center;
  padding-bottom: 5px;
  border-bottom: 1px solid black;
}
.dept-head-title {
  font-size: 9px;
  text-decoration: none;
  text-align: center;
  margin: 2px;
  width: 40%;
}
.admin-dept {
  font-size: 11px;
  text-decoration: none;
  width: 40%;
  margin: 0px;
  text-align: center;
  padding-bottom: 5px;
  border-bottom: 1px solid black;
}
.admin-dept-title {
  font-size: 9px;
  text-decoration: none;
  text-align: center;
  margin: 2px;
  width: 40%;
}
.user-name {
  font-size: 11px;
  text-decoration: none;
  width: 40%;
  margin: 0px;
  text-align: center;
  padding-bottom: 5px;
  border-bottom: 1px solid black;
}
.signature {
  margin: 25px 0px 0px 0px;
}

svg {
  height: 50px;
  width: 40%;
  position: absolute;
  margin: -65px 0px 0px -30px;
}
