body {
  font-size: 12px;
  margin: 0px;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
p {
  text-align: justify;
}
.header-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 25px 10px 25px;
}
.university-logo {
  width: 75px;
  height: auto;
  margin-bottom: -65px;
}
.header-info-p2 {
  text-align: center;
  margin: 2px;
  font-weight: bold;
}
.header-info-p3 {
  text-align: center;
  margin: 2px;
  font-size: 10px;
}
.header-info-p1 {
  text-align: center;
  margin: 2px;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  margin-top: 50px;
}
.subject {
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}
.body {
  font-size: 10px;
  text-align: justify;
}
.recipients {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  grid-row-start: 1;
}
.greetings {
  margin-top: 25px;
}
.dept-head {
  font-size: 11px;
  width: 40%;
  margin: 0px;
  margin-top: 10px;
  text-align: center;
  padding-bottom: 5px;
  border-bottom: 1px solid black;
}
.dept-head-title {
  font-size: 9px;
  font-weight: bold;
  text-align: center;
  margin: 0px;
  width: 40%;
}
.admin-dept {
  font-size: 11px;
  width: 40%;
  margin: 0px;
  margin-top: 10px;
  text-align: center;
  padding-bottom: 5px;
  border-bottom: 1px solid black;
}
.admin-dept-title {
  font-size: 9px;
  font-weight: bold;
  text-align: center;
  margin: 0px;
  width: 40%;
}
.user-name {
  font-size: 11px;
  width: 40%;
  margin: 0px;
  margin-top: 10px;
  text-align: center;
  padding-bottom: 5px;
  border-bottom: 1px solid black;
}
.signature {
  margin: 45px 0px 0px 0px;
}
svg {
  height: 50px;
  width: 40%;
  position: absolute;
  margin: -65px 0px 0px -40px;
}
