@import "../../../_var";

#draft-container {
  padding: 10px 10px 10px 20px;
  .card-container {
    @include flex(row, stretch, center);
    flex-wrap: wrap;
    margin: 0px;
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
    .options-name {
      padding: 0px 10px 0px 10px;
      @include flex(row, space-evenly, center);
      p {
        text-align: center;
        margin: 0px 0px 0px 5px;
      }
    }
    .letter {
      padding: 0px 10px 0px 10px;
      @include flex(row, space-evenly, center);
    }
    .time-date {
      padding: 0px 10px 0px 10px;
      @include flex(row, space-evenly, center);
    }
  }
}
