@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Ubuntu&family=Roboto&family=Roboto+Mono&display=swap");

@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}
