@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Ubuntu&family=Roboto&family=Roboto+Mono&display=swap");

@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

$roboto-font: "Roboto", sans-serif;
$open-font: "Open Sans", sans-serif;
$ubuntu-font: "Ubuntu", sans-serif;

$color-blue: #0C0996;
$color-yellow: #E78A00;
