doctype html 
html 
  head 
    style
      include ../../styles/issueslip.css
body
  header
    div(class="header-info")
      p(class="header-info-p1") LEYTE NORMAL UNIVERSITY
      p(class="header-info-p2") Tacloban City
      p(class="header-info-p3") OFFICE OF THE CHIEF ADMINISTRATION OFFICER 
  div(class="main")
    h4(class="subject") ISSUE SLIP
  div(class="container-1" style="font-weight: bold")
    span(class="item-1") Date:
    span(class="item-2")=`${new Date().toLocaleString('en-us', { dateStyle: "short"})}`
  div(class="container-2")
    span(class="item-1") To:
    span(class="item-1" style="text-transform: uppercase; font-weight: bold") Shell Cetric Gasoline Station Tacloban City
  div(class="container-3" style="margin-top: 20px; font-weight: bold")
    span(class="item-1") Please Issue to
    span(class="item-1") _____________
  div(class="container-4" style="margin-top: 0px")
    span(class="item-1" style="font-weight: bold;") _____________
    span(class="item-1") Liters of Diesel for the LNU generator
  div(class="recipients")
    div(class="signature")
      p(class="user-name" style="margin-top: 20px")
      p(class="admin-dept-title") (Signature over Printed Name Of the Recipient)
    div(class="signature")
      span(class="fixer") Approved by:
      p(class="admin-dept" style="margin-top: 20px")
      p(class="admin-dept-title") Chief Administrative Officer-Admin
  div(class="container-5" style="margin-top: 20px; font-weight: bold")
    span(class="item-1") Amount: P
    span(class="item-1" style="text-decoration: underline")
    span(class="checkbox-label") ( CASH
    input(type="checkbox" style="width: 10px")
    span(class="checkbox-label") / CREDIT
    input(type="checkbox" style="width: 10px") 
    span(class="checkbox-label") )
  div(class="container-5" style="margin-top: 20px; font-weight: bold")
    span(class="item-1") Issued by:
    span(class="item-1" style="text-decoration: underline")
