#login-container {
  margin: 0px;
  padding: 0px;
  #login-row1 {
    margin: 0px;
    padding: 0px;
    #login-col1 {
      margin: 0px;
      padding: 0px;
      display: flex;
      flex-direction: row;
      justify-content: stretch;
      align-items: stretch;
      width: 100%;
    }
  }
}
