@import "../../_var";

#login-container {
  font-family: $ubuntu-font;
  margin: 0px;
  padding: 0px;
  #login-row1 {
    margin: 0px;
    padding: 0px;
    #login-col1 {
      margin: 0px;
      padding: 0px;
      svg {
        height: 100vh;
        rect {
          height: 100vh;
        }
      }
    }
    #login-right-row {
      width: auto;
      background-color: white;
      padding: 10px 10px 10px 10px;
      #header-container {
        margin: 0px 0px 25px;
        #heading {
          padding: 0px 0px 10px;
          margin: 0px 0px 15px;
          border-bottom: 3px solid gray;
          .faculty-color {
            color: $color-yellow;
            font-style: normal;
            font-weight: bolder;
          }
          .admin-color {
            color: $color-blue;
            font-style: normal;
            font-weight: bolder;
          }
        }
        #heading2a {
          color: $color-yellow;
          font-style: normal;
          font-weight: bolder;
        }
        #heading2b {
          color: $color-blue;
          font-style: normal;
          font-weight: bolder;
        }
      }
      form {
        padding-left: 10px;
        .input {
          margin: 0px;
        }
        .alert {
          margin: 0px;
        }
        .check-box {
          margin-bottom: 10px;
          text-align: justify;
          font-size: 12px;
        }
        button {
          margin-bottom: 10px;
        }
        .links {
          padding: 15px 15px 0px 0px;
          font-size: 15px;
        }
      }
    }
  }
}

@media (min-width: 600px) {
  #login-container {
    #login-row1 {
      #login-right-row {
        padding: 10px 10px 10px 30px;
      }
    }
  }
}
