@import "../../_var";
#login-container {
  font-family: $ubuntu-font;
  margin: 0px;
  padding: 0px;
  #login-row1 {
    margin: 0px;
    padding: 0px;
    #login-col1 {
      margin: 0px;
      padding: 0px;
      svg {
        height: 100vh;
        position: fixed;
        width: 100%;
        top: 0;
        bottom: 0;
        z-index: 0;
        rect {
          height: 100vh;
        }
      }
    }
    #login-col2 {
      z-index: 1;
      background-color: white;
      height: 100vh;
    }
  }
}
